fastapi
uvicorn[standard]
gunicorn
jinja2
sqlalchemy
alembic
psycopg2-binary
python-multipart
boto3
pydantic
requests
python-dotenv
pydantic
pydantic-settings
slowapi
httpx
numpy
pillow
torch
torchvision
timm
pandas
weasyprint
opencv-python-headless
passlib[bcrypt]